@import 'init/reboot';
@import 'typography/type';

/* GENERAL */
body {
    width: 60rem;
    margin: 0 auto 0;
    padding: 1.5rem 0;
}

.no-webp body { background: url('../img/exclusivepaper.jpg'); }
.webp body { background: url('../img/exclusivepaper.webp'); }

section {
    position: relative;
    margin-bottom: 7.5rem;
}

p {
    margin-bottom: 1.5rem;
}

p:last-of-type,
section:last-of-type {
    margin-bottom: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* General Content */
.card {
    position: relative;
    padding: 1.5rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    box-shadow: -0.5rem 1rem 1.5rem -1rem rgba(90, 89, 83, 0.6);
    overflow: hidden;
    
    p {
        padding-right: 1.5rem;
    }

    &:after {
        content: url('../img/corner.png');
        position: absolute;
        bottom: 0;
        right: 0.25rem;
    }
}
.no-webp .card { background: url('../img/ricepaper.jpg'); }
.webp .card { background: url('../img/ricepaper.webp'); }

.parrot {
    max-width: 40%;
    opacity: 0.8;
}

.title-icon {
    position: absolute;
    top: -3.8rem;
    left: -5.5rem;
}

.section-title {
    flex: 0 0 100%;
}
/* END GENERAL */

/* HEADER */
.site-header {
    background: url('../img/boat.jpg');
    margin-bottom: 10.8rem;
    box-shadow: -0.5rem 1rem 1.5rem -1rem rgba(90, 89, 83, 0.6);

    p {
        width: 32.8rem;
    }

    .card {
        padding-bottom: 1.2rem;
        box-shadow: none;
    }
}

/* PLOT SUMMARY */
.summary .card,
.characters .card {
    width: calc((100% - 2rem) / 2);
}

.part-num {
    display: block;
    opacity: 0.5;
}

/* BACKGROUND */
.background .card {
    padding-right: 0.5rem;

    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;

    column-gap: 3.61rem;
    -webkit-column-gap: 3.61rem;
    -moz-column-gap: 3.61rem;
}

/* CHARACTERS */
.char-name {
    text-align: center;
}

.mask,
.hover-details,
.characters .card::after {
    transition-duration: 0.5s;
}

.mask {
    position: absolute;
    top: 4.5rem;
    left: 0;
}

.hover-details {
    opacity: 0;
}

.characters .card::after {
    opacity: 0;
}

.characters .card:hover {
    > .hover-details { opacity: 1; }

    > .mask { opacity: 0.2; }

    &::after { opacity: 1; }
}