@font-face {
    font-family: 'Leander';
    font-display: auto;
    src: url('/scss/typography/fonts/Leander-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TextGyreHeros';
    font-display: auto;
    src: url('/scss/typography/fonts/texgyreheros-regular-webfont.woff2') format('woff2'),
         url('/scss/typography/fonts/texgyreheros-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
